@forward "./General";
@use "./General.scss" as var;
@use "./mixins.scss" as mixin;
:root {
  --main-font: 1.2em;
  --desc-font: 0.9em;
}
.App {
  min-height: 100vh;
  @include mixin.displayFlex(column, center, center);
}
.main-div {
  width: 60%;
  @media screen and (min-width: 425px) {
    width: 300px;
  }
  border-radius: 10px;
  @include mixin.displayFlex(column, center, center);
  background-color: var.$card-BG;
}
.main-img {
  margin-top: 10%;
  width: 80%;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  img {
    width: 100%;
    border-radius: 10px;
  }
  &:hover .middle {
    opacity: 1;
  }
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.4);
  img {
    width: 20%;
    margin: 40% auto;
  }
}

.main-head {
  align-self: flex-start;
  margin: 5% 10%;
  color: var.$White;
  font-weight: 600;
  font-size: var(--main-font);
  cursor: pointer;
  &:hover {
    color: var.$Cyan;
  }
}
.desc {
  align-self: flex-start;
  margin: 0 10%;
  color: var.$Soft-blue;
  font-size: var(--desc-font);
}
.eth-div {
  @include mixin.displayFlex(row, center, space-between);
  width: 80%;
  margin: 5% 0;
  font-size: var(--desc-font);
}
hr {
  width: 90%;
  background-color: var.$line;
  height: 1px;
  border: 0;
}

.creator {
  @include mixin.displayFlex(row, center, flex-start);
  font-size: var(--desc-font);
  align-self: flex-start;
  margin: 5% 5%;
  color: var.$Soft-blue;
  cursor: pointer;
  img {
    width: 12%;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
  }
  span {
    color: var.$White;
    &:hover {
      color: var.$Cyan;
    }
  }
}
.price {
  display: flex;
  color: var.$Cyan;
  img {
    margin-right: 5px;
  }
}
.time {
  display: flex;
  color: var.$Soft-blue;
}
